$c-Primary: #fda239;
$c-Secondary: #148582;
$c-text: #ebebeb;
$c-textDark: #232232;
$c-links: #dadada;
$c-headerBg: #202020;
$c-mainBg: linear-gradient(
  to left top,
  #0d3d79,
  #0d3b73,
  #0e3a6d,
  #103868,
  #113662,
  #103764,
  #0f3767,
  #0e3869,
  #0b3c75,
  #0a3f81,
  #0e428c,
  #154598
);
$c-background: #04233f;
$badge-frontend: #5f84ff;
$badge-backend: #653bff;
$badge-career: #b9446b;

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Tajawal', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-image: $c-mainBg;
  background-repeat: no-repeat;
  color: $c-text;
  position: relative;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
